<!DOCTYPE html>
{% load filters %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista - Pessoas</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .menu a.active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <nav class="menu mb-3">
            <a href="#" class="btn btn-secondary active">Pessoas</a>
            <a href="#" class="btn btn-secondary">Ministérios</a>
        </nav>
        <div class="mb-3">
            <a href="{% url 'people_add' %}" class="btn btn-primary">Adicionar</a>
        </div>
        {% if people %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.date_of_birth|date:'d/m/Y' }}</td>
                    <td>{{ person.phone|format_phone }}</td>
                    <td>
                        <a href="{% url 'people_edit' person.id %}" class="btn btn-sm btn-warning">Editar</a>
                        <button class="btn btn-sm btn-danger" onclick="deletePerson({{ person.id }})">Excluir</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Nenhuma pessoa cadastrada ainda.
        </div>
        {% endif %}
    </div>
    <script>
        function deletePerson(personId) {
            if (confirm('Are you sure you want to delete this person?')) {

                const url = "{% url 'people_delete' 0 %}".replace('/0/', `/${personId}/`);
                
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Person deleted successfully!') {
                        location.reload(); // Reload the page to reflect the changes
                    } else {
                        alert('Error deleting person. Please try again.');
                    }
                })
                .catch(error => {
                    console.error('Error deleting person:', error);
                    alert('Error deleting person. Please try again.');
                });
            }
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
